body, html {
  height: 100%;
  margin: 0;
  font-family: 'News Cycle';
    background-color: #323232;
    overflow-x: hidden;
    font-weight: lighter;
    -webkit-transition: fadeIn 2s;
    -moz-transition: fadeIn 2s;
    -o-transition: fadeIn 2s;
    -ms-transition: fadeIn 2s;
    transition: fadeIn 2s;
    scroll-behavior: smooth;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h2 {
    font-weight: 200;
}

.hero-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #262726), url("Church_img.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-color: white;
  padding: 10px 10px;
  font-weight: 100;
}

@keyframes swipe {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
    }
    
}
.hero-text h1 {
    font-size: 50px;
    animation: swipe 3s;
}

.hero-text p {
    animation: swipe 3s;
}


@media (max-width: 650px) {  
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 500px) {  
    .hero-text h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {  
    .hero-text h1 {
        font-size: 20px;
    }
}


.overview {
height: auto;
}

.church img {
display: block;
margin: 0 auto;
    max-width: 550px;
    height: 400px;
}

.church {
width: 50%;
    float: left;
    display: block;
    margin: 0 auto;
    background-color: #262726;
    height: auto;
}

.church h1 {
text-align: center;
}

.church h2 {
text-align: center;
}

.church h3 {
text-align: center;
}

.church p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}





