body, html {
  height: 100%;
  margin: 0;
  font-family: 'News Cycle';
    background-color: #323232;
    overflow-x: hidden;
    font-weight: lighter;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.hero-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #262726), url("image1.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-color: white;
  padding: 10px 10px;
  font-weight: 100;
}

@keyframes swipe {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
    }
    
}
.hero-text h1 {
    font-size: 50px;
    animation: swipe 3s;
}

.hero-text p {
    animation: swipe 3s;
}
.opening {
    width: 80%;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    color: white;
}

@media (max-width: 1000px) {
    .opening {
        width: 75%;
    }   
    
}

@media (max-width: 650px) {  
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 500px) {  
    .hero-text h1 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {  
    .hero-text h1 {
        font-size: 20px;
    }
}


.upcomingevent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .upcomingevent {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
  }
}

.date {
  width: 200px;
  height: 200px;
  background-color: #262726;
  display: inline-block;
  margin: 0px 10px;
  box-shadow: 5px 5px lightgray;
}

.event {
  width: 60%;
  height: 200px;
  background-color: #262726;
  display: inline-block;
  box-shadow: 5px 5px lightgray;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1px;
}

.datenumber {
  font-size: 50px;
  text-shadow: 2px 2px black;
  color: white;
}

.datemonth {
  font-size: 30px;
  text-shadow: 2px 2px black;
  color: white;
}

@media (max-width: 480px) {
  .date {
    width: 100%;
  }
  .event {
    width: 100%;
  }
  .datenumber {
    font-size: 25px;
  }
  .datemonth {
    font-size: 20px;
  }
}


.eventtitle {
    color: white;
    font-size: 24px;
    text-align: left;
    margin-left: 10px;
}

.eventlocation {
    color: white;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
}

.eventdescription {
color: white;
font-size: 16px;
text-align: left;
margin-left: 10px;
}